html{
    box-sizing: border-box;
    font-family: 'Black Ops One';
}
body{
    background: linear-gradient(to bottom right, red,blue);
}
.navbar{
    background: #FFFFFF;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}
.logo {
    float:left;
    width: 50px;
    height: 50px;
}
.name {
    font-size: 45px;
}
.name:hover{
    color:#6F1C74;
    border-bottom: #6F1C74 solid 2px;
}